.formWrapper {
    width: 42vw;
    display: flex;
    justify-content: space-between;
}

.formWrapper div:first-child {
    width: 32vw;
    margin-bottom: 120px;
}

.circleConteiner {
    display: flex;
}

.circleConteiner div {
    margin-right: 2px;
}