.form {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    margin: auto;
}

.fieldset {
    display: flex;
    border: none;
    padding: 0;
}

.columnWrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 48px;
    height: 340px;
}

.columnWrapper div {
    margin-right: 10px;
}